{{- if .Values.job.enabled }}
# Optional Job to initialize DB (run after mongo is ready)
apiVersion: batch/v1
kind: Job
metadata:
  name: nodegoat-db-init
  namespace: {{ .Values.namespace }}
spec:
  backoffLimit: {{ .Values.job.backoffLimit }}
  template:
    spec:
      restartPolicy: OnFailure
      initContainers:
        - name: wait-for-mongo
          image: busybox:1.36.1
          imagePullPolicy: IfNotPresent
          command: ["sh","-c","until nc -z {{ .Values.mongodb.host }} {{ .Values.mongodb.port }}; do echo waiting for mongo; sleep 2; done"]
      containers:
        - name: db-init
          image: {{ printf "%s:%s" .Values.job.image.repository .Values.job.image.tag }}
          imagePullPolicy: IfNotPresent
          command:
{{ toYaml .Values.job.command | nindent 12 }}
          envFrom:
            - configMapRef: { name: {{ .Values.configmap.name }} }
{{- end }}