# Optional Job to initialize DB (run after mongo is ready)
apiVersion: batch/v1
kind: Job
metadata:
  name: nodegoat-db-init
  namespace: nodegoat1
spec:
  backoffLimit: 4
  template:
    spec:
      restartPolicy: OnFailure
      initContainers:
        - name: wait-for-mongo
          image: busybox:1.36.1
          imagePullPolicy: IfNotPresent
          command: ["sh","-c","until nc -z mongo 27017; do echo waiting for mongo; sleep 2; done"]
      containers:
        - name: db-init
          image: nodegoat:local
          imagePullPolicy: IfNotPresent
          command: ["node","artifacts/db-reset.js"]
          envFrom:
            - configMapRef: { name: nodegoat-config }